// Import Google Material Icons stylesheet
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.topbar {
  display: flex;

  &__right {
    display: flex;
  }
}
.form-container {
  display: flex;
  align-items: center;
}

.input-container {
  position: relative;
}

.search-input {
  padding-right: 2.5rem;
  width: auto;
  padding: 10px 20px;
  color: var(--secondary);
  background-color: var(--primary);
  border: solid 1px var(--primary);
}

.search-icon {
  position: absolute;
  color: var(--red-bg);
  top: 50%;
  width: 20px;
  right: 0.75rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.upload-container {
  display: flex;
  align-items: center;
}

.upload-icon {
  width: 1px;
  z-index: 10;
  color: var(--red-bg);
}

.file-input {
  display: none;
}

.upload-btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  padding-left: 2rem;
  border: 1px solid var(--primary);
  border-radius: 4px;
  background-color: var(--primary);
  color: #333;
}
