<header class="topbar">
  <div class="topbar__heading">
    <h2>Social <span>Network</span></h2>
  </div>
  <div class="topbar__right">
    <div class="form-container">
      <div class="input-container">
        <input class="search-input" placeholder="Find.." />
        <div class="search-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
        </div>
      </div>
    </div>
    <div class="upload-container">
      <div class="upload-icon">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z"/></svg>
      </div>
      <label for="file" class="upload-btn">Upload</label>
      <input id="file" type="file" class="file-input" />
    </div>
  </div>
</header>
